.cover {
    padding: 130px 0 30px 0;
    position: relative;
}

@media screen and (max-width: 900px) {
    .cover {
        padding: 0px 0 30px 0;
    }
}

.catchphrase {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    color: rgba(95,133,117,0.50);
    letter-spacing: 0.8px;
    margin-bottom: 4px;
    line-height: 24px;
}

.title {
    color: var(--gui-color-secondary);
    line-height: 60px;
    margin-bottom: 10px;
}

.highlight * {
    color: var(--gui-color-primary);
    display: inline;
}

@media screen and (max-width: 900px) {
    .highlight {
        display: block;
    }
}

.description {
    font-size: var(--gui-text-font-size-lg);
    color: var(--gui-color-secondary);
    line-height: 30px;
}

.illustration {
    text-align: center;
}

@media screen and (max-width: 900px) {
    .illustration {
        z-index: -1;
        opacity: .1;
        position: absolute;
        top: 300px;
        right: 0;
    }
}
