.about {
    padding: 0 0 130px 0;
}

.row {
    padding: 80px 0;
}

.content {
    margin-bottom: 70px;
}

.title {
    font-weight: 800;
    font-size: 36px;
    color: var(--gui-color-secondary);
    line-height: 50px;
    margin-bottom: 10px;
}

.description {
    font-size: var(--gui-text-font-size-lg);
    color: var(--gui-color-secondary);
    line-height: 30px;
    margin-bottom: 10px;
}

.links > .link:not(:last-child) {
    margin-right: 24px;
}


@media screen and (max-width: 900px) {
    .links {
        display: flex;
        flex-direction: column;
    }

    .links > .link {
        margin-right: 0;
        margin-top: 16px;
    }
}


.link {
    font-weight: 600;
    font-size: var(--gui-text-font-size);
    color: var(--gui-color-primary);
    line-height: 16px;
    text-decoration: none;
}

.illustration {
    display: flex;
    align-items: center;
    justify-content: center;
}

.element svg {
    height: 110px;
}

@media screen and (max-width: 900px) {
    .element {
        text-align: center;
        padding-bottom: 60px;
    }
}

.elementTitle {
    padding-top: 30px;

}

.elementDescription {
    opacity: 0.7;
    font-size: var(--gui-text-font-size-lg);
    color: var(--gui-color-secondary);
    line-height: 30px;
}