.row {
    display: flex;
    
    flex-wrap: wrap;
}

.start {
    align-items: flex-start;
}

.center {
    align-items: center;
}
 
.end {
    align-items: flex-end;
}

@media screen and (max-width: 900px) {
    .row {
        flex-direction: column;
    }

    .reverse {
        flex-direction: column-reverse;
    }
}
