h1.title {
    font-weight: var(--gui-heading-font-weight);
    font-size: var(--gui-h1-font-size);
    color: var(--gui-color-secondary);
    line-height: var(--gui-h1-line-height);
    margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
    h1.title {
        line-height: var(--gui-h1-mobile-line-height);
        font-size: var(--gui-h1-mobile-font-size);
    }
}

h2.title {
    font-weight: var(--gui-heading-font-weight);
    font-size: var(--gui-h2-font-size);
    color: var(--gui-color-secondary);
    line-height: var(--gui-h2-line-height);
    margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
    h2.title {
        line-height: var(--gui-h2-mobile-line-height);
        font-size: var(--gui-h2-mobile-font-size);
    }
}

h3.title {
    font-weight: var(--gui-heading-font-weight);
    font-size: var(--gui-h3-font-size);
    color: var(--gui-color-secondary);
    line-height: var(--gui-h3-line-height);
    margin-bottom: 4px;
}

@media only screen and (max-width: 768px) {
    h3.title {
        line-height: var(--gui-h3-mobile-line-height);
        font-size: var(--gui-h3-mobile-font-size);
    }
}
