.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 14px;
}

.link { 
    padding-left: 10px;
    padding-right: 10px;
    font-size: var(--gui-text-font-size);
    color: var(--gui-color-secondary-lighten);
    text-align: center;
    text-decoration: none;
    transition: opacity ease-in-out 200ms;
}

.link:last-child { 
    padding-right: 15px;
}

.link:hover { 
    opacity: .6;
}

.active {
    font-weight: 600;
    color: var(--gui-color-secondary);
}

.links, .intl {
    display: inline-block;
}

.intl svg {
    height: 30px;
    width: 40px;
}

@media only screen and (max-width: 768px) {
    .links, .separator {
        display: none;
    }
}