@import 'gui.css';
@import 'reset.css';

html {
  background-color: var(--gui-color-background-default);
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  font-family: 'Karla';
}

p {
  font-family: 'Karla';
  font-size: var(--gui-text-font-size);
  font-weight: var(--gui-text-font-weight);
}