.col {
    padding: 14px;
}

.col[data-size='1'] {
    width: calc(100%/3);
}


.col[data-size='2'] {
    width: calc(100%/3*2);
}


.col[data-size='3'] {
    width: 100%;
}

.col[data-offset='1'] {
    margin-left: calc(100%/3);
}


.col[data-offset='2'] {
    margin-left: calc(100%/3*2);
}


.col[data-offset='3'] {
    width: 100%;
}


@media only screen and (max-width: 768px) {
    .col[data-size='1'], .col[data-size='2'], .col[data-size='3'] {
        width: 100%;
    }

    .col[data-offset='1'], .col[data-offset='2'], .col[data-offset='3'] {
        margin-left: 0;
    }
}